<!DOCTYPE HTML>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">

<head>
<title>Overnight.asia | Manage Content</title>


<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta name="keywords" content="Template, html, premium, themeforest" />
<meta name="description"
	content="Traveler - Premium template for travel companies">
<meta name="author" content="Sambhav" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- GOOGLE FONTS -->
<link
	href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600'
	rel='stylesheet' type='text/css'>
<!-- /GOOGLE FONTS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
<script src="{% static 'js/modernizr.js' %}"></script>


<style>
* {
	box-sizing: border-box;
}
</style>

<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
  };
</script>
</head>

<body>

	<!-- FACEBOOK WIDGET -->
	<div id="fb-root"></div>
	<script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
	<!-- /FACEBOOK WIDGET -->
	<div class="global-wrap">
		<header id="main-header">
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<a class="logo" href="landingpage.html"> <img
								class="origin square" src="{% static 'img/overnightlogo1.png'%}"
								style="width: 40px;" alt="Image Alternative text"
								title="Image Title" />
							</a>
						</div>
						<div class="col-md-3 col-md-offset-2"></div>
						<div class="col-md-4">
							<div class="top-user-area clearfix">
								<ul class="top-user-area-list list list-horizontal list-border">

									<li class="top-user-area-avatar"><a
										href="/showUserProfile/" onclick="submit"> <img class="origin round"
											src= "{% static 'img/40x40.png'%}" alt="Image Alternative text"
											title="AMaze" />Hi, {{request.user.first_name}}
					</a></li>
									<li><a href="/logoutUser/">Logout</a></li>
									<!--<li><a href="#">Sign In</a></li>
									</li>
									<li><a href="#">Sign Up</a></li>-->
							</div>
						</div>
					</div>
				</div>
			</div>

		</header>




		<div class="booking-title" id="search-dialog">

		

			<div class="gap"></div>
			<div class="gap"></div>
			<div class="gap"></div>
		</div>


	</div>



	<div class="container">

		<form method="POST" enctype="multipart/form-data" action="/createRoom/">
		{% csrf_token%}
			
				<div class="row">
				
					<div class="col-md-3">
						<div class="form-group form-group-icon-left">
							
								<br><select name="destination" class="form-control" style="width: 75%">	
								<option value="Bali">Bali</option>
								<option value="Bangkok">Bangkok</option>
								<option value="Jakarta">Jakarta</option>
								<option value="Kuala Lumpur">Kuala Lumpur</option>
								<option value="Penang">Penang</option>
								<option value="Phuket">Phuket</option>
								<option value="Yangon">Yangon</option>
								</select><br>
														
								<br><input class="form-control" name="name" type="text" placeholder ="Property's Name"/>
								<br><textarea class="form-control" name="address" type="text" rows="4" cols="50" placeholder ="Address"/>
</textarea>							
							<br>	<textarea class="form-control" name="amenities" type="text" rows="4" cols="50" placeholder ="List Amenities, use commas"/>
</textarea>
				<br>	<textarea class="form-control" name="services" type="text" rows="4" cols="50" placeholder ="List services, use commas"/>
</textarea>		

<br>	<textarea class="form-control" name="roomtype" type="text" rows="4" cols="50" placeholder ="List Roomtypes, use commas"/>
</textarea>
					
						</div>
					</div>
					
					<div class="col-md-3">
					</div>
				</div>
			
			<button class="btn btn-primary btn-lg" type="submit">Create</button>


		</form>

	
		<div class="gap"></div>
	</div>



	<footer id="main-footer">
		<div class="container">

			<div class="col-md-2">
				<ul class="list list-footer">
					<li><a href="#">About US</a></li>

				</ul>
			</div>

			<div class="col-md-2">
				<ul class="list list-footer">
					<li><a href="#">Partners</a></li>

				</ul>
			</div>


			<div class="col-md-2">
				<ul class="list list-footer">
					<li><a href="#">Support</a></li>

				</ul>
			</div>

			<div class="col-md-2">
				<ul class="list list-footer">
					<li><a href="#">FAQ</a></li>

				</ul>
			</div>




			<div class="col-md-3">

				<ul class="list list-horizontal list-space">
					<li><a
						class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top"
						href="#"></a></li>
					<li><a
						class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top"
						href="#"></a></li>
					<li><a
						class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top"
						href="#"></a></li>
					<li><a
						class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top"
						href="#"></a></li>
					<li><a
						class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top"
						href="#"></a></li>
				</ul>
			</div>



		</div>

	</footer>
	<script  src="{% static 'js/jquery.js' %}" ></script>
	<script src= "{% static 'js/bootstrap.js' %}"></script>
	<script src= "{% static 'js/slimmenu.js' %}"></script>
	<script src= "{% static 'js/bootstrap-datepicker.js' %}"></script>
	<script src= "{% static 'js/bootstrap-timepicker.js' %}"></script>
	<script src= "{% static 'js/nicescroll.js' %}"></script>
	<script src= "{% static 'js/dropit.js' %}"></script>
	<script src= "{% static 'js/ionrangeslider.js' %}"></script>
	<script src= "{% static 'js/icheck.js' %}"></script>
	<script src= "{% static 'js/fotorama.js' %}"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" ></script>
	<script src= "{% static 'js/typeahead.js' %}"></script>
	<script src= "{% static 'js/card-payment.js' %}"></script>
	<script src= "{% static 'js/magnific.js' %}"></script>
	<script src= "{% static 'js/owl-carousel.js' %}"></script>
	<script src= "{% static 'js/fitvids.js' %}"></script>
	<script src= "{% static 'js/tweet.js' %}"></script>
	<script src= "{% static 'js/countdown.js' %}"></script>
	<script src="{% static 'js/gridrotator.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

</body>
<script>
$('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
        || location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
           if (target.length) {
             $('html,body').animate({
                 scrollTop: target.offset().top
            }, 1000);
            return false;
        }
    }
});
</script>
</html>


