<!DOCTYPE HTML>
<html lang="en">
{% load staticfiles %}

<head>
<title>Overnight.asia | View Details</title>

<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta name="keywords" content="Template, html, premium, themeforest" />
<meta name="description"
	content="Traveler - Premium template for travel companies">
<meta name="author" content="Tsoy">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- GOOGLE FONTS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
<!-- GOOGLE FONTS -->
	
<!-- LINKS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox-plus-jquery.js"></script>
<!-- LINKS -->

</head>

<body>

<!-- FACEBOOK WIDGET -->
	<div id="fb-root"></div>
	<script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
	<!-- /FACEBOOK WIDGET -->
	<div class="global-wrap">
		<header id="main-header">
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<a class="logo" href="landingpage.html"> <img
								class="origin square" src="img/overnightlogo1.png"
								style="width: 40px;" alt="Image Alternative text"
								title="Image Title" />
							</a>
						</div>
						<div class="col-md-3 col-md-offset-2"></div>
						<div class="col-md-4">
							<div class="top-user-area clearfix">
								<ul class="top-user-area-list list list-horizontal list-border">

									<li class="top-user-area-avatar"><a
										href="user-profile.html"> <img class="origin round"
											src="img/40x40.png" alt="Image Alternative text"
											title="AMaze" />Hi, User
									</a></li>

									<li><a href="#">Sign In</a></li>
									</li>
									<li><a href="#">Sign Up</a></li>
							</div>
						</div>
					</div>
				</div>
			</div>

</header>

<!--Headline-->	
    <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Property Details</a>
                </li>
                <li><a href="#">{{destination.hotelInfo}}</a>
                </li>
                <li><a href="#">{{area.hotelInfo}}</a>
                </li>
                <li class="active">{{hotelname.hotelInfo}}</li>
            </ul>     

<!--Gallery-->
<center>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable booking-details-tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab" data-toggle="tab"><i class="fa fa-camera"></i>Photos</a>
                        </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-1">
                                <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                        <img src="img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite"/>
                                        <img src="img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL rooftop pool"/>
                                        <img src="img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room"/>
                                        <img src="img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite2"/>
                                        <img src="img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL de luxe"/>
                                        <img src="img/800x600.png" alt="Image Alternative text" title="hotel 2"/>
                                        <img src="img/800x600.png" alt="Image Alternative text" title="The pool"/>
                                        <img src="img/800x600.png" alt="Image Alternative text" title="The pool"/>
</center>
<!--end of gallery-->					
                  
<!--Number 1-->
<form>
<hr>
<li>
<div class="col-md-12">
    <div class="header"> 
    <h3 class="item-title">Packages Rates</h3></div>                                           
    </div>

<div class="col-md-4" style="margin: 0 auto">   
<ul class="slimmenu" id="slimmenu">
                        <li class="active"><a href="#"> See Available </a>
                            <ul>
                                <li><a href="#">Package 1</a></li>
                                <li><a href="#">Package 2</a></li>
                                <li><a href="#">Package 3</a></li>
                                <li><a href="#">Package 4</a></li>
                              </ul>
                            </li>
                   </ul>
                <br>
                </div>


                            <a href=">class="booking-item" href="#">
                                <div class="row">                              
                                    <div class="col-md-6"><h5>Description</h5>
                                    <p>Blah blah blah blah blah blah Blah blah blah blah blah blah Blah blah blah blah blah blah</p>
                                    </div>     


                            <a href=">class="booking-item" href="#">
                                <div class="row">                              
                                    <br><br><div class="col-md-2"><h5>From</h5>
                                    <span class="booking-item-price">$389</span>
                                    <br>
                                    <span class="btn btn-primary">Add to Booking</span>
                                    <br>
                                    <br>    
                                    </div>
                                
                                </div>
                            
                            </div>
                        <!--end of div row-->  
                        </a>

                    </li>   
                    <hr> 
                    <br>

    </form> 
<!--Number 2--> 
<form>
<hr>
<li>
<div class="col-md-12">
    <div class="header"> 
    <h3 class="item-title">Promotional Rates</h3></div>                                           
    </div>

<div class="col-md-4" style="margin: 0 auto">   
<ul class="slimmenu" id="slimmenu">
                        <li class="active"><a href="#"> See Available </a>
                            <ul>
                                <li><a href="#">Save 10%</a></li>
                                <li><a href="#">Founder 5%</a></li>
                                <li><a href="#">Flash3%</a></li>
                              </ul>
                            </li>
                   </ul>
                <br>
                </div>


                            <a href=">class="booking-item" href="#">
                                <div class="row">                              
                                    <div class="col-md-6"><h5>Description</h5>
                                    <p>Blah blah blah blah blah blah Blah blah blah blah blah blah Blah blah blah blah blah blah</p>
                                    </div>     


                            <a href=">class="booking-item" href="#">
                                <div class="row">                              
                                    <br><br><div class="col-md-2"><h5>From</h5>
                                    <span class="booking-item-price">$389</span>
                                    <br>
                                    <span class="btn btn-primary">Add to Booking</span>
                                    <br>
                                    <br>    
                                    </div>
                                
                                </div>
                            
                            </div>
                        <!--end of div row-->  
                        </a>

                    </li>   
                    <hr> 
                    <br>

    </form> 
<!--Number 3--> 
<form>
<hr>
<li>
<div class="col-md-12">
    <div class="header"> 
    <h3 class="item-title">Room Rates</h3></div>                                           
    </div>

<div class="col-md-4" style="margin: 0 auto">   
<ul class="slimmenu" id="slimmenu">
                        <li class="active"><a href="#"> See Available </a>
                            <ul>
                                <li><a href="#">Superior</a></li>
                                <li><a href="#">Deluxe</a></li>
                                <li><a href="#">Suite</a></li>
                                <li><a href="#">Villa</a></li>
                              </ul>
                            </li>
                   </ul>
                <br>
                </div>


                            <a href=">class="booking-item" href="#">
                                <div class="row">                              
                                    <div class="col-md-6"><h5>Description</h5>
                                    <p>Blah blah blah blah blah blah Blah blah blah blah blah blah Blah blah blah blah blah blah</p>
                                    </div>     


                            <a href=">class="booking-item" href="#">
                                <div class="row">                              
                                    <br><br><div class="col-md-2"><h5>From</h5>
                                    <span class="booking-item-price">$389</span>
                                    <br>
                                    <span class="btn btn-primary">Add to Booking</span>
                                    <br>
                                    <br>    
                                    </div>
                                
                                </div>
                            
                            </div>
                        <!--end of div row-->  
                        </a>

                    </li>   
                    <hr> 
                    <br>

    </form> 

<br>
<br>                  

<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-8"></div>
					<div class="col-md-3" style="padding-bottom: 10px; text-align: right;">
						<a href="https://www.facebook.com/overnightasia/"><i class="fa fa-facebook" aria-hidden="true" style="color: #ff8400; font-size: 18px;"></i> &nbsp;</a>
						<a href="https://www.instagram.com/overnightasia/"><i class="fa fa-instagram" aria-hidden="true" style="color: #ff8400; font-size: 18px;"></i> &nbsp;</a>
						<a href="https://twitter.com/overnightasia"><i class="fa fa-twitter" aria-hidden="true" style="color: #ff8400; font-size: 19px;"></i> &nbsp;</a>
						<a href="https://www.linkedin.com/company/overnight-asia"><i class="fa fa-linkedin" aria-hidden="true" style="color: #ff8400; font-size: 20px;"></i> &nbsp;</a>
						<a href="http://www.overnight.asia/mailto:ahshida@overnight.asia"><i class="fa fa-envelope-o" aria-hidden="true" style="color: #ff8400; font-size: 18px;"></i> &nbsp;</a>

					</div>

				</div>
			</div>
			<div class="container">
				<div class="row" style="font-size: 14px;">
					<div class="col-md-1"></div>
					<div class="col-md-3" style="color: #ff8400;">Overnight.asia All Rights Reserved 2016</div>
					<div class="col-md-3"></div>
					<div class="col-md-4" style="text-align: right;"><a style="color: #ff8400;" href="http://www.overnight.asia/about.html">About |</a>
						<a style="color: #ff8400;" href="http://www.overnight.asia/privacy-policy.html">Privacy Policy |</a>
						 <a style="color: #ff8400;" href="http://www.overnight.asia/terms-of-website.html">Terms of Website </a> </div>
					<div class="col-md-1"></div>
				</div><br><br><br>
			</div>
	</div>
	</footer>
												
						
		<script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/slimmenu.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/nicescroll.js"></script>
        <script src="js/dropit.js"></script>
        <script src="js/ionrangeslider.js"></script>
        <script src="js/icheck.js"></script>
        <script src="js/fotorama.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="js/typeahead.js"></script>
        <script src="js/card-payment.js"></script>
        <script src="js/magnific.js"></script>
        <script src="js/owl-carousel.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/tweet.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/gridrotator.js"></script>
        <script src="js/custom.js"></script>						
						
    </div>
</body>

</html>




